{% extends "layout.html" %}

{% block body %}
{% for field in abilityForm.errors %}
{% for error in abilityForm.errors[field] %}
<div class="alert alert-error">
    <strong style="color:red">Error in field {{field}}</strong> {{error}}
</div>
{% endfor %}
{% endfor %}
<div style="background-color: #ebe1c7;padding: 0px 0px 5px 25px;width:1000px">
    <h2 style="color:maroon">{{creature.name}}
    </h2>
    {% if "USER" in (current_user.roles|map(attribute='name')) %}
    {% if creature.id in (current_user.creatures|map(attribute='id')) %}
    <div>
        <form method="POST" action="{{ url_for('remove_favorite', creature_id=creature.id) }}">
            <input type=hidden value="{{ current_user.id }}" name=user_id>
            <input type="submit" value="Remove Favorite" />
        </form>
    </div>
    {% else %}
    <div>
        <form method="POST" action="{{ url_for('favorite_creature', creature_id=creature.id) }}">
            <input type=hidden value="{{ current_user.id }}" name=user_id>
            <input type="submit" value="Add to Favorites" />
        </form>
    </div>
        {% endif %}
    {% endif %}
    <b>Armor Class:</b> {{ creature.ac }}
    <br />
    <b>HP: </b> {{ creature.hp }} ({{ creature.formula }})
    <br />
    <b>Challenge: </b>{{ creature.cr }}
    <br />
    <br />
    <table style="width:250px">
        <tr style="color:maroon">
            <th>STR</th>
            <th>DEX</th>
            <th>CON</th>
            <th>INT</th>
            <th>WIS</th>
            <th>CHA</tH>
        </tr>

        <tr>
            <td align="center"> {{ creature.str }}</td>
            <td align="center"> {{ creature.dex }}</td>
            <td align="center"> {{ creature.con }}</td>
            <td align="center"> {{ creature.int }}</td>
            <td align="center"> {{ creature.wis }}</td>
            <td align="center"> {{ creature.cha }}</td>
        </tr>

        <tr style="color:maroon">
            <th>Speed</th>
            {% if creature.flyspeed|int != 0 %}
            <th>Fly</th>
            {% endif %}
            {% if creature.swimspeed|int != 0 %}
            <th>Swim</th>
            {% endif %}
        </tr>

        <tr>
            <td align="center"> {{ creature.speed }} ft.</td>
            {% if creature.flyspeed|int != 0 %}
            <td align="center"> {{ creature.flyspeed }} ft.</td>
            {% endif %}
            {% if creature.flyspeed|int != 0 %}
            <td align="center"> {{ creature.swimspeed }} ft.</td>
            {% endif %}
        </tr>
    </table>
    <br />
    <div style=color:maroon><b>Saving Throws</b>
        {% for save, savemod in saves.items() %}
        {{ save }} +{{ savemod }}.
        {% endfor %}
    </div>
    <br />
    <div style=color:maroon><b>Skills</b>
        {% for skill, mod in skills.items() %}
        {{ skill }} +{{ mod }}.
        {% endfor %}
    </div>
    <table>
        <br />
        <tr>
            <h2 style="color:maroon">Abilities</h2>
        </tr>
        {% for ability in creature.abilities %}
        <div id="abilities" style="background-color: #ebe1c7" style="width: 1500px">
            <b>{{ability.name}}.</b> <i>{{ability.description}}</i>
            {% for attack in ability.attacks %}
            : +{{ ability.toHit }} to hit.
            <i>On hit: </i> {{ attack.damageFormula }} {{ attack.damageType.type }} damage.
            {% endfor %}
        </div>
        {% endfor %}
    </table>
    {% if "ADMIN" in (current_user.roles|map(attribute='name')) %}
    <div>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#newability"
            aria-expanded="false">
            New Ability
        </button>
    </div>

    <br />

    <form method="POST" class="collapse" id="newability" action="{{ url_for('add_ability', creature_id=creature.id) }}">
        <table>
            <tr>
                <td>
                    {{ abilityForm.name.label }}
                    {{ abilityForm.name }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ abilityForm.description.label }}
                    </br>
                    {{ abilityForm.description(cols="70", rows="6") }}
                </td>
            </tr>
            </tr>
            <tr>
                <td>
                    {{ abilityForm.attack.label }}
                    {{ abilityForm.attack }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ abilityForm.toHit.label }}
                    {{ abilityForm.toHit }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ abilityForm.damageFormula.label }}
                    {{ abilityForm.damageFormula }}
                </td>

                <td>
                    {{ abilityForm.damageType.label }}
                    {{ abilityForm.damageType() }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ abilityForm.attack2.label }}
                    {{ abilityForm.attack2 }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ abilityForm.damageFormula2.label }}
                    {{ abilityForm.damageFormula2 }}
                </td>
                <td>
                    {{ abilityForm.damageType2.label }}
                    {{ abilityForm.damageType2 }}
                </td>
            </tr>
        </table>
        <input type="submit" value="Add ability" />
    </form>

    <div>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#editform"
            aria-expanded="false">
            Edit stats
        </button>
    </div>

    <form class="collapse" method="POST" id="editform"
        action="{{ url_for('change_creature_stats', creature_id=creature.id) }}">
        <table>
            <tr>
                <td>
                    {{ form.name.label }}
                </td>
                <td>
                    {{ form.name(value=creature.name) }}
                </td>
                <td>
                    {{ form.hp.label }}
                </td>
                <td>
                    {{ form.hp(value=creature.hp) }}
                </td>
                <td>
                    {{ form.formula.label }}
                </td>
                <td>
                    {{ form.formula(value=creature.formula) }}
                </td>
                <td>
                    {{ form.ac.label }}
                </td>
                <td>
                    {{ form.ac(value=creature.ac) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.speed.label }}
                </td>
                <td>
                    {{ form.speed(value=creature.speed) }}
                </td>
                <td>
                    {{ form.flyspeed.label }}
                </td>
                <td>
                    {{ form.flyspeed(value=creature.flyspeed) }}
                </td>
                <td>
                    {{ form.swimspeed.label }}
                </td>
                <td>
                    {{ form.swimspeed(value=creature.swimspeed) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.strength.label }}
                </td>
                <td>
                    {{ form.strength(value=creature.str) }}
                </td>
                <td>
                    {{ form.dex.label }}
                </td>
                <td>
                    {{ form.dex(value=creature.dex) }}
                </td>
                <td>
                    {{ form.con.label }}
                </td>
                <td>
                    {{ form.con(value=creature.con) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.intelligence.label }}
                </td>
                <td>
                    {{ form.intelligence(value=creature.int) }}
                </td>
                <td>
                    {{ form.wis.label }}
                </td>
                <td>
                    {{ form.wis(value=creature.wis) }}
                </td>
                <td>
                    {{ form.cha.label }}
                </td>
                <td>
                    {{ form.cha(value=creature.cha) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.cr.label }}
                </td>
                <td>
                    {{ form.cr(value=creature.cr) }}
                </td>
                <td>
                    {{ form.proficiency.label }}
                </td>
                <td>
                    {{ form.proficiency(value=creature.proficiency) }}
                </td>
            </tr>
        </table>
        <h2>Saving Throws</h2>
        <table>
            <tr>
                <td>
                    {{ form.strsav.label }}
                    {{ form.strsav(default=creature.strsav, checked=creature.strsav) }}
                </td>
                <td>
                    {{ form.dexsav.label }}
                    {{ form.dexsav(default=creature.dexsav, checked=creature.dexsav) }}
                </td>
                <td>
                    {{ form.consav.label }}
                    {{ form.consav(default=creature.consav, checked=creature.consav) }}
                </td>
                <td>
                    {{ form.intsav.label }}
                    {{ form.intsav(default=creature.intsav, checked=creature.intsav) }}
                </td>
                <td>
                    {{ form.wissav.label }}
                    {{ form.wissav(default=creature.wissav, checked=creature.wissav) }}
                </td>
                <td>
                    {{ form.chasav.label }}
                    {{ form.chasav(default=creature.chasav, checked=creature.chasav) }}
                </td>
            </tr>
        </table>
        <h2>Skill Proficiencies</h2>
        <table>
            <tr valign="middle">
                <td>
                    {{ form.athletics.label }}
                    {{ form.athletics(default=creature.athletics, checked=creature.athletics) }}
                </td>
                <td>
                    {{ form.acrobatics.label }}
                    {{ form.acrobatics(default=creature.acrobatics, checked=creature.acrobatics) }}
                </td>
                <td>
                    {{ form.soh.label }}
                    {{ form.soh(default=creature.soh, checked=creature.soh) }}
                </td>
                <td>
                    {{ form.stealth.label }}
                    {{ form.stealth(default=creature.stealth, checked=creature.stealth) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.arcana.label }}
                    {{ form.arcana(default=creature.arcana, checked=creature.arcana) }}
                </td>
                <td>
                    {{ form.history.label }}
                    {{ form.history(default=creature.history, checked=creature.history) }}
                </td>
                <td>
                    {{ form.investigation.label }}
                    {{ form.investigation(default=creature.investigation, checked=creature.investigation) }}
                </td>
                <td>
                    {{ form.nature.label }}
                    {{ form.nature(default=creature.nature, checked=creature.nature) }}
                </td>
                <td>
                    {{ form.religion.label }}
                    {{ form.religion(default=creature.religion, checked=creature.religion) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.animal.label }}
                    {{ form.animal(default=creature.animal, checked=creature.animal) }}
                </td>
                <td>
                    {{ form.insight.label }}
                    {{ form.insight(default=creature.insight, checked=creature.insight) }}
                </td>
                <td>
                    {{ form.medicine.label }}
                    {{ form.medicine(default=creature.medicine, checked=creature.medicine) }}
                </td>
                <td>
                    {{ form.perception.label }}
                    {{ form.perception(default=creature.perception, checked=creature.perception) }}
                </td>
                <td>
                    {{ form.survival.label }}
                    {{ form.survival(default=creature.survival, checked=creature.survival) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.deception.label }}
                    {{ form.deception(default=creature.deception, checked=creature.deception) }}
                </td>
                <td>
                    {{ form.intimidation.label }}
                    {{ form.intimidation(default=creature.intimidation, checked=creature.intimidation) }}
                </td>
                <td>
                    {{ form.performance.label }}
                    {{ form.performance(default=creature.performance, checked=creature.performance) }}
                </td>
                <td>
                    {{ form.persuasion.label }}
                    {{ form.persuasion(default=creature.persuasion, checked=creature.persuasion) }}
                </td>
            </tr>
        </table>
        <input type="submit" value="Modify creature" />
    </form>
    <ul>
        {% for field in form.errors %}
        {% for error in form.errors[field] %}
        <div class="alert alert-error">
            <strong style="color:red">Error in field {{field}}</strong> {{error}}
        </div>
        {% endfor %}
        {% endfor %}
    </ul>


    <form method="POST" action="{{ url_for('delete_creature', creature_id=creature.id) }}">
        <input type=hidden value="{{ creature.id }}" name=creature_to_delete>
        <input type="submit" value="Delete Creature" />
    </form>

    {% endif %}
    {% endblock %}