{% extends "layout.html" %}

{% block body %}
<div style="background-color: #ebe1c7;padding: 0px 0px 5px 25px;width:1000px">
    <h2 style="color:maroon">{{creature.name}}</h2>
    <b>Armor Class:</b> {{ creature.ac }}
    <br />
    <b>HP: </b> {{ creature.hp }} ({{ creature.formula }})
    <br />
    <b>Challenge: </b>{{ creature.cr }}
    <br />
    <br />
    <table style="width:250px">
        <tr style="color:maroon">
            <th>STR</th>
            <th>DEX</th>
            <th>CON</th>
            <th>INT</th>
            <th>WIS</th>
            <th>CHA</tH>
        </tr>

        <tr>
            <td align="center"> {{ creature.str }}</td>
            <td align="center"> {{ creature.dex }}</td>
            <td align="center"> {{ creature.con }}</td>
            <td align="center"> {{ creature.int }}</td>
            <td align="center"> {{ creature.wis }}</td>
            <td align="center"> {{ creature.cha }}</td>
        </tr>

        <tr style="color:maroon">
            <th>Speed</th>
            {% if creature.flyspeed|int != 0 %}
            <th>Fly</th>
            {% endif %}
            {% if creature.swimspeed|int != 0 %}
            <th>Swim</th>
            {% endif %}
        </tr>

        <tr>
            <td align="center"> {{ creature.speed }} ft.</td>
            {% if creature.flyspeed|int != 0 %}
            <td align="center"> {{ creature.flyspeed }} ft.</td>
            {% endif %}
            {% if creature.flyspeed|int != 0 %}
            <td align="center"> {{ creature.swimspeed }} ft.</td>
            {% endif %}
        </tr>
    </table>
    <br/>
    <div style=color:maroon><b>Saving Throws</b>
        {% for save, savemod in saves.items() %}
        {{ save }} +{{ savemod }}.
        {% endfor %}
    </div>
    <br/>
    <div style=color:maroon><b>Skills</b>
        {% for skill, mod in skills.items() %}
        {{ skill }} +{{ mod }}.
        {% endfor %}
    </div>
    <table>
        <br />
        <tr>
            <h2 style="color:maroon">Abilities</h2>
        </tr>
        {% for ability in creature.abilities %}
        <div style="background-color: #ebe1c7" style="width: 1500px">
            <b>{{ability.name}}.</b> <i>{{ability.description}}</i>
            {% for attack in ability.attacks %}
            : +{{ ability.toHit }} to hit.
            <i>On hit: </i> {{ attack.damageFormula }} {{ attack.damageType.type }} damage.
        {% endfor %}
        </div>
        {% endfor %}
    </table>
    {% if "ADMIN" in (current_user.roles|map(attribute='name')) %}

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#editform" aria-expanded="false">
        Edit stats
    </button>

    <form class="collapse" method="POST" id="editform"
        action="{{ url_for('change_creature_stats', creature_id=creature.id) }}">
        <table>
            <tr>
                <td>
                    {{ form.name.label }}
                </td>
                <td>
                    {{ form.name }}
                </td>
                <td>
                    {{ form.hp.label }}
                </td>
                <td>
                    {{ form.hp }}
                </td>
                <td>
                    {{ form.formula.label }}
                </td>
                <td>
                    {{ form.formula }}
                </td>
                <td>
                    {{ form.ac.label }}
                </td>
                <td>
                    {{ form.ac }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.speed.label }}
                </td>
                <td>
                    {{ form.speed }}
                </td>
                <td>
                    {{ form.flyspeed.label }}
                </td>
                <td>
                    {{ form.flyspeed }}
                </td>
                <td>
                    {{ form.swimspeed.label }}
                </td>
                <td>
                    {{ form.swimspeed }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.strength.label }}
                </td>
                <td>
                    {{ form.strength }}
                </td>
                <td>
                    {{ form.dex.label }}
                </td>
                <td>
                    {{ form.dex }}
                </td>
                <td>
                    {{ form.con.label }}
                </td>
                <td>
                    {{ form.con }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.intelligence.label }}
                </td>
                <td>
                    {{ form.intelligence }}
                </td>
                <td>
                    {{ form.wis.label }}
                </td>
                <td>
                    {{ form.wis }}
                </td>
                <td>
                    {{ form.cha.label }}
                </td>
                <td>
                    {{ form.cha }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.cr.label }}
                </td>
                <td>
                    {{ form.cr }}
                </td>
                <td>
                    {{ form.proficiency.label }}
                </td>
                <td>
                    {{ form.proficiency }}
                </td>
            </tr>
        </table>
        <h2>Saving Throws</h2>
        <table>
            <tr>
                <td>
                    {{ form.strsav.label }}
                    {{ form.strsav }}
                </td>
                <td>
                    {{ form.dexsav.label }}
                    {{ form.dexsav }}
                </td>
                <td>
                    {{ form.consav.label }}
                    {{ form.consav }}
                </td>
                <td>
                    {{ form.intsav.label }}
                    {{ form.intsav }}
                </td>
                <td>
                    {{ form.wissav.label }}
                    {{ form.wissav }}
                </td>
                <td>
                    {{ form.chasav.label }}
                    {{ form.chasav }}
                </td>
            </tr>
        </table>
        <h2>Skill Proficiencies</h2>
        <table>
            <tr valign="middle">
                <td>
                    {{ form.athletics.label }}
                    {{ form.athletics }}
                </td>
                <td>
                    {{ form.acrobatics.label }}
                    {{ form.acrobatics }}
                </td>
                <td>
                    {{ form.soh.label }}
                    {{ form.soh }}
                </td>
                <td>
                    {{ form.stealth.label }}
                    {{ form.stealth }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.arcana.label }}
                    {{ form.arcana }}
                </td>
                <td>
                    {{ form.history.label }}
                    {{ form.history }}
                </td>
                <td>
                    {{ form.investigation.label }}
                    {{ form.investigation }}
                </td>
                <td>
                    {{ form.nature.label }}
                    {{ form.nature }}
                </td>
                <td>
                    {{ form.religion.label }}
                    {{ form.religion }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.animal.label }}
                    {{ form.animal }}
                </td>
                <td>
                    {{ form.insight.label }}
                    {{ form.insight }}
                </td>
                <td>
                    {{ form.medicine.label }}
                    {{ form.medicine }}
                </td>
                <td>
                    {{ form.perception.label }}
                    {{ form.perception }}
                </td>
                <td>
                    {{ form.survival.label }}
                    {{ form.survival }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.deception.label }}
                    {{ form.deception }}
                </td>
                <td>
                    {{ form.intimidation.label }}
                    {{ form.intimidation }}
                </td>
                <td>
                    {{ form.performance.label }}
                    {{ form.performance }}
                </td>
                <td>
                    {{ form.persuasion.label }}
                    {{ form.persuasion }}
                </td>
            </tr>
        </table>
        <input type="submit" value="Modify creature" />
    </form>
    <ul>
        {% for field in form.errors %}
        {% for error in form.errors[field] %}
        <div class="alert alert-error">
            <strong style="color:red">Error in field {{field}}</strong> {{error}}
        </div>
        {% endfor %}
        {% endfor %}
    </ul>
    <form method="POST" action="{{ url_for('delete_creature', creature_id=creature.id) }}">
        <input type=hidden value="{{ creature.id }}" name=creature_to_delete>
        <input type="submit" value="Delete Creature"/>
    </form>
    {% endif %}
    {% endblock %}